/* ===============================================================
        FONTS
=============================================================== */
/* roboto-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v51-latin-regular.woff2") format("woff2");
}
/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v51-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* ===============================================================
        VARIABLES
=============================================================== */
:root {
  /* colors */
  --clr-primary-red: hsl(4, 100%, 67%);
  --clr-primary-red-100: hsl(2, 100%, 95%);
  --clr-neutral-blue-800: hsl(234, 29%, 20%);
  --clr-neutral-blue-700: hsl(235, 18%, 26%);
  --clr-neutral-grey: hsl(0, 0%, 58%);
  --clr-neutral-white: hsl(0, 0%, 100%);

  /* font size */
  --fs-12: 0.75rem;
  --fs-16: 1rem;
  --fs-40: 2.5rem;
  --fs-56: 3.5rem;

  /* font weight */
  --fw-bold: 700;
  --fw-regular: 400;
}

/* ===============================================================
        RESET
=============================================================== */
*,
::after,
::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
svg {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3 {
  padding: 0;
}

button {
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Remove list styles on ul, ol elements */
ul[role="list"],
ol[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* ===============================================================
        BUTTON
=============================================================== */
.btn {
  font-weight: var(--fw-bold);
  line-height: 1.5;
  padding: 1rem 3rem;
  width: 100%;
  color: var(--clr-neutral-white);
  background-color: var(--clr-neutral-blue-800);
  border-radius: 0.5rem;
  transition: background;
}
.btn:active {
  transform: scale(0.99);
}

/* ===============================================================
        BASE
=============================================================== */
body {
  background-color: var(--clr-neutral-blue-700);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: var(--fs-16);
  font-weight: var(--fw-regular);
  line-height: 1.5;

  display: grid;
  place-content: center;
  min-height: 100vh;
}

/* ===============================================================
        MAIN
=============================================================== */
.card {
  background-color: var(--clr-neutral-white);
  max-height: 100%;
  padding-bottom: 2.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
}

/* IMAGE */
.card__img img {
  object-fit: cover;
  min-width: 100%;
}

/* TEXT */
.card__text {
  margin-inline: 1.5rem;

  display: grid;
  gap: 2.5rem;
}

.card__title {
  font-size: var(--fs-40);
  font-weight: var(--fw-bold);
  line-height: 1;
}

.card__description {
  display: grid;
  gap: 1.5rem;
}

.card__list {
  display: grid;
  gap: 0.5rem;
}
.card__list li {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

/* ---=== FORMULAIRE ===------------------------------------- */
form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.form-group {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.form-group label {
  font-size: var(--fs-12);
  font-weight: var(--fw-bold);
}
.form-group .label {
  display: flex;
  justify-content: space-between;
}
.form-group .label span {
  font-size: var(--fs-12);
  font-weight: var(--fw-bold);
  color: var(--clr-primary-red);
}
.form-group input {
  padding: 1rem 1.5rem;
  border: 1px solid var(--clr-neutral-grey);
  border-radius: 0.5rem;
  transition: background-color 1s ease;
}
.form-group input:focus-visible {
  outline: none;
  border: 2px solid var(--clr-neutral-blue-800);
}
.form-group input[type="email"].invalid {
  background-color: var(--clr-primary-red-100);
  color: var(--clr-primary-red);
  border-color: var(--clr-primary-red);

  animation: flashShake 0.5s ease-in-out;
}
@keyframes flashShake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(4px);
  }
}

/* ===============================================================
        MODAL SUCCES MESSAGE
=============================================================== */
#modal {
  position: absolute;
  min-height: 100vh;
  background-color: var(--clr-neutral-blue-800);
  inset: 0;

  display: none;
  justify-content: center;
  align-items: center;
}

.modal__content {
  background-color: var(--clr-neutral-white);
  border-radius: 2.25rem;
  width: 31.5rem;
  height: 32.5rem;
  padding: 3rem 4rem;

  display: grid;
  gap: 2rem;
}

.modal__content h1 {
  font-size: var(--fs-56);
  font-weight: var(--fw-bold);
  line-height: 1;
}

/* ===============================================================
        MEDIA
=============================================================== */
/* ---=== TABLET ===------------------------------------------- */
@media (min-width: 768px) {
  .card {
    padding: 2.5rem;
    border-radius: 2.25rem;
  }

  .card__text {
    margin: 0;
    gap: 1.5rem;
  }

  .card__description {
    gap: 1.5rem;
  }

  .card__title {
    font-size: var(--fs-56);
    font-weight: var(--fw-bold);
  }

  form {
    gap: 1rem;
  }
}

/* ---=== DESKTOP ===------------------------------------------- */
@media (min-width: 1440px) {
  .card {
    padding: 2rem;
    flex-direction: row-reverse;
    gap: 4rem;

    align-items: center;
  }

  .card__text {
    max-width: 23.5rem;
    max-height: 28.125rem;
    gap: 2rem;
  }

  .card__description {
    gap: 2rem;
  }

  .btn:hover,
  .btn:focus {
    background: linear-gradient(to right, #ff6a3a, #ff527b);
    box-shadow:
      0 16px 32px 0 rgba(255, 97, 85, 0.5),
      0 16px 32px 0 rgba(255, 98, 87, 0.5);
  }

  form {
    gap: 1.5rem;
  }
}
